body {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: Spartan;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
}

.title {
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
    line-height: .95em;
}

.section1 p {
    line-height: 1.8em;
}

.section2-block {
    margin: 1em 0;
    padding: 1em 0;
    background: hsl(300, 24%, 96%);
}

.img-star {
    margin-right: 0.8em;
}

.star-text {
    font-weight: 700;
}

.card {
    background: hsl(300, 43%, 22%);
    margin: 1em 0;
    padding: 2.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-principal {
    display: flex;
}

.card-img {
    display: block;
    margin: 0;
    max-height: 60%;
    border-radius: 50%;
    margin-left: -0.9em;
}

.card-box-title {
    text-align: left;
}

.card-title {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5em;
}

.card-state {
    margin: 0;
    font-size: 1rem;
}

.card-secondary {
    text-align: left;
    margin: 0;
}

.card-text {
    color: hsl(0, 0%, 100%);
    line-height: 1.8em;
    font-size: 1.1rem; 
    margin: 0;
}


@media (min-width: 675px) {

    
    body {
        max-width: 90%;
        margin: 0 auto;
    }
    .sp-section {
        display: grid;
        grid-template-areas: 
        "title . star"
        "card card card";
        justify-items: center;
    }

    .section1 {
        grid-area: title;
        text-align: left;
    }

    .section2 {
        grid-area: star;
    }

    .section3 {
        grid-area: card;
        display: flex;
    }

    .section2-block {
        display: flex;
        justify-content: center;
        padding: 0.5em 1.5em;
    }

    .img-star {
        max-height: 1em;
        align-self: center;
    }

    .star-text {
        align-self: center;
    }

    .block2 {
        transform: translateX(2em);
    }

    .block3 {
        transform: translateX(4em);
    }

    .card {
        margin: 1em;

    }

    .pos2 {
        transform: translateY(2em);
    }

    .pos3 {
        transform: translateY(4em);
    }

}



